.no-liked-cities {
    display: flex;
    justify-content: center;
    color: black;
}

.liked {
    display: flex;
    justify-content: center;
    color: #034e7a;
    font-size: 1.8rem;
}

@media (min-width: 768px) {

}